<!DOCTYPE html>
<html>
<head>
<head lang="ja" xmlns:th="http://www.thymeleaf.org">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <link rel="stylesheet" th:href="@{/css/forheader.css}">

<link type="text/css" rel="stylesheet"
  	href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
	<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">

<title　th:text="${shopname} +のアイテム一覧"></title>
<link th:href="@{/css/foritemslist.css}" rel="stylesheet" />
</head>
<body>
<span th:insert="/header/header::header"></span> 
	<br>

<h1>　<span th:text="${shopname}"></span></h1>

 <div th:text="${resultzeromessage}"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
             <ul   th:each="item: ${allitemlist}">
		        <div class="col">
				<div class="card card-wrapper card-deck" style="width: 18rem;"> 
	                <li class="card-body" >
				          <span th:each="itemimage: ${item.itemimageslist}">
			                <a th:href="@{'/itemlist/toItemDetail?itemId=' + ${item.itemId}}">
								<img th:src="@{/image/} + ${itemimage.imagePath}"
									class="img-responce img-rounded item-img-center card-img-top" width="200"
									height="250" />
							</a>
						  </span>
					  <br>
	                  <a th:text="${item.itemName}">じゃがバターベーコン</a><br/>
	                  <!--  <a th:href="@{'/admiDetail?id=' + ${item.id}}"> 
	                    </a>
	                 -->
	                  <span th:text="${#numbers.formatInteger(item.itemPrice,1,'COMMA')}">2,380</span>円(税込)<br />
	                  </li>
		         </div>
		         </div>
         	 	</ul>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>