<!DOCTYPE html>
<html>
<head>

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<title>ログイン -DODOTOWN</title>
</head>
<body>

<h1>ログイン</h1>
<br>
<div class="container" style="background-color: #dcdcdc; padding-top: 20px; padding-bottom: 20px; width: 500px;">
	<form method="post" th:action="@{/user/login}">
	  <div class="form-group">
	  <!--<span th:if="${loginErrorMessage}!=null" th:text="${loginErrorMessage}"></span>  -->
	    <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" name="emailAddress" th:value="${emailAddress}" placeholder="メールアドレスまたはDODO ID">
	  <br>
	    <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="パスワード">
	  </div>
	  <div class="form-group form-check">
	    <!--  <link rel="help" href="#" id="emailHelp" class="form-text text-muted">ID・パスワードを忘れた方-->
	  </div>
	  <div class="btn-block rounded-pill">
	  <button type="submit" class="btn btn-primary">ログインする</button>
	  </div>
	</form>
	<a th:href="@{/userinfo/toRegister}">
	<div>はじめてご利用の方（新規登録）</div>
	</a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>